/* fe mean fire-egg */
#fe-btn {
  cursor: pointer;
  width: 112px;
  height: 40px;
  line-height: 41px;
  line-height: 40px\9;
  background-color: #4e6ef2;
  border-radius: 10px;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  border: 0;
  outline: 0;
  letter-spacing: normal;
  margin-left: 20px;
}
#fe-btn:hover {
  background: #4662D9
}

/*屏蔽广告*/
#content_left>:not([class^=result]) {
  height: 0;
  overflow: hidden;
  margin: 0;
}

/*屏蔽第二页开始底部的广告*/
#1 {
  display: none!important;
}

/*屏蔽右侧栏*/
#content_right {
  display: none;
}


